<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>Monitor</title>
</head>
<body>
<div layout:fragment="content">
    <span th:text="${error}" class="error">Error</span>
    <table>
        <thead>
            <tr>
                <td>Firstname</td>
                <td>Last Name</td>
                <td>Phone Number</td>
                <td>Absences</td>
                <td>Options</td>
            </tr>
        </thead>
        <tbody>
        <tr th:each="monitor : ${monitors}">
            <td th:text="${monitor.firstName}">FirstName</td>
            <td th:text="${monitor.lastName}">Last Name</td>
            <td th:text="${monitor.phoneNumber}">Phone Number</td>
            <td>
                <p th:each="absence : ${monitor.absences}">
                    <span th:text="${absence.start}">Start</span>
                    <span th:text="${absence.end}">Start</span>
                    <span>
                        <a th:href="@{/monitor/absent/delete(id=${monitor.id},ref=${absence.reference})}">Delete</a>
                    </span>
                </p>
            </td>
            <td> <a th:href="@{/monitor/show(id=${monitor.id})}">Update</a> </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/monitor/absent/add}" method="post" th:object="${absentForm}">
        <ul>
            <li th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"></li>
        </ul>
        <div class="form-group">
            <label> Monitor : </label>
            <select name="monitorId">
                <option  th:each="monitor : ${monitors}" th:value="${monitor.id}" th:inline="text">
                    [[${monitor.firstName}]] [[${monitor.lastName}]]
                </option>
            </select>
        </div>
        <div class="form-group">
            <label> Begin : </label>
            <input type="date" name="start" class="form-control" th:field="*{start}"/>
            <ul>
                <li th:each="err : ${#fields.errors('start')}" th:text="${err}" class="error"></li>
            </ul>
        </div>
        <div class="form-group">
            <label> End : </label>
            <input type="date" name="end" class="form-control" th:field="*{end}" required/>
            <ul>
                <li th:each="err : ${#fields.errors('end')}" th:text="${err}" class="error"></li>
            </ul>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <form th:action="@{/monitor/add}" method="post" th:object="${monitorForm}">
        <div class="form-group">
            <label> First Name : </label>
            <input type="text" name="firstName" class="form-control" th:field="*{firstName}"/>
            <ul>
                <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}" class="error"></li>
            </ul>
        </div>
        <div class="form-group">
            <label> Last Name : </label>
            <input type="text" name="lastName" class="form-control" th:field="*{lastName}"/>
            <ul>
                <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}" class="error"></li>
            </ul>
        </div>
        <div class="form-group">
            <label> Phone Number : </label>
            <input type="text" name="phoneNumber" class="form-control" th:field="*{phoneNumber}"/>
            <ul>
                <li th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}" class="error"></li>
            </ul>
        </div>
        <input type="hidden" name="monitorId" th:field="*{monitorId}">
        <input type="hidden" name="disabled" th:field="*{disabled}">
        <fieldset th:disabled="*{disabled}">
            <div class="form-group">
                <label>Planning </label>
                <div class="row">
                    <ul>
                        <li th:each="err : ${#fields.errors('workDays')}" th:text="${err}" class="error"></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col" th:each="workDay, stat : *{workDays}">
                        <label th:text="${workDay.day}">Day</label>
                        <input type="hidden" th:field="*{workDays[__${stat.index}__].day}">
                        <input type="checkbox" th:field="*{workDays[__${stat.index}__].selected}">
                        <fieldset disabled>
                            <input type="text" class="form-control"
                                   th:field="*{workDays[__${stat.index}__].begin}"/>
                            <br/>
                            <input type="text" class="form-control"
                                   th:field="*{workDays[__${stat.index}__].end}"/>
                        </fieldset>
                        <ul>
                            <li th:each="err : ${#fields.errors('workDays[__${stat.index}__]')}" th:text="${err}" class="error"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
</body>
</html>