<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>Monitor</title>
</head>
<body>
<div layout:fragment="content">
    <table>
        <thead>
            <tr>
                <td>Firstname</td><td>Last Name</td><td>Phone Number</td>
            </tr>
        </thead>
        <tbody>
        <tr th:each="monitor : ${monitors}">
            <td th:text="${monitor.firstName}">FirstName</td>
            <td th:text="${monitor.lastName}">Last Name</td>
            <td th:text="${monitor.phoneNumber}">Phone Number</td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/monitor}" method="post" th:object="${request}">
        <div class="form-group">
            <label> First Name : </label>
            <input type="text" name="firstName" class="form-control" th:field="*{firstName}"/>
            <ul>
                <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}" class="error"></li>
            </ul>
        </div>
        <div class="form-group">
            <label> Last Name : </label>
            <input type="text" name="lastName" class="form-control" th:field="*{lastName}"/>
            <ul>
                <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}" class="error"></li>
            </ul>
        </div>
        <div class="form-group">
            <label> Phone Number : </label>
            <input type="text" name="phoneNumber" class="form-control" th:field="*{phoneNumber}"/>
            <ul>
                <li th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}" class="error"></li>
            </ul>
        </div>
        <div class="form-group">
            <div class="row">
                <ul>
                    <li th:each="err : ${#fields.errors('workDays')}" th:text="${err}" class="error"></li>
                </ul>
            </div>
            <div class="row">
                <div class="col" th:each="workDay, stat : *{workDays}">
                    <label th:text="${workDay.day}">Day</label>
                    <input type="hidden" th:field="*{workDays[__${stat.index}__].day}">
                    <input type="checkbox" th:field="*{workDays[__${stat.index}__].selected}">
                    <input type="text" class="form-control"
                           th:field="*{workDays[__${stat.index}__].begin}"/>
                    <ul>
                        <li th:each="err : ${#fields.errors('workDays[__${stat.index}__].begin')}" th:text="${err}" class="error"></li>
                    </ul>
                    <input type="text" class="form-control"
                           th:field="*{workDays[__${stat.index}__].end}"/>
                    <ul>
                        <li th:each="err : ${#fields.errors('workDays[__${stat.index}__].end')}" th:text="${err}" class="error"></li>
                    </ul>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
</body>
</html>